nav.nav.nav--left.js-nav
  ul
    li
      a(href='#')
        span Início
figure.logo
  p Contos e Canções
nav.nav.nav--right
  ul
    li
      a(href='https://github.com/clcmo/contos/' target='_blank')
        span O Livro
    li
      a(href='https://clcmo.github.io/clcmo/' target='_blank')
        span A Milla
    li
      a(href='#')
        span
          div.cart-total Comprar