.slider.js-slider
  .slider__inner.js-slider__inner
  .slide.js-slide
    .slide__content
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
    .slider__text.js-slider__text
      .slider__text-line.js-slider__text-line
        div Andamos juntos 
      .slider__text-line.js-slider__text-line
        div como um barco. Que agora
      .slider__text-line.js-slider__text-line
        div encontrou a sua maré
      .slider__text-line.js-slider__text-line
        div alta.
  .slide.js-slide
    .slide__content
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      figure.slide__img.js-slide__img
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo4.jpg')
      .slider__text.js-slider__text
        .slider__text-line.js-slider__text-line
          div Não param de cantar 
        .slider__text-line.js-slider__text-line
          div No alto dos montes
  .slide.js-slide
    .slide__content
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      .slider__text.js-slider__text
        .slider__text-line.js-slider__text-line
          div São vagalumes que circulam  
        .slider__text-line.js-slider__text-line
          div pelo céu estrelado dos campos
  nav.slider__nav.js-slider__nav
    .slider-bullet.js-slider-bullet
      span.slider-bullet__text.js-slider-bullet__text 01
      span.slider-bullet__line.js-slider-bullet__line
    .slider-bullet.js-slider-bullet
      span.slider-bullet__text.js-slider-bullet__text 02
      span.slider-bullet__line.js-slider-bullet__line
    .slider-bullet.js-slider-bullet
      span.slider-bullet__text.js-slider-bullet__text 03
      span.slider-bullet__line.js-slider-bullet__line
  .scroll.js-scroll Role
.vert-text
  span
    | camila
    br
    | l. oliveira