.slider.js-slider
  .slider__inner.js-slider__inner
  .slide.js-slide
    .slide__content
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
    .slider__text.js-slider__text
      .slider__text-line.js-slider__text-line
        div Black is
      .slider__text-line.js-slider__text-line
        div timeless. Black is
      .slider__text-line.js-slider__text-line
        div the colour of
      .slider__text-line.js-slider__text-line
        div Eternity.
  .slide.js-slide
    .slide__content
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      figure.slide__img.js-slide__img
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo4.jpg')
  .slide.js-slide
    .slide__content
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
      figure.slide__img.js-slide__img
        img(src='https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg')
  nav.slider__nav.js-slider__nav
    .slider-bullet.js-slider-bullet
      span.slider-bullet__text.js-slider-bullet__text 01
      span.slider-bullet__line.js-slider-bullet__line
    .slider-bullet.js-slider-bullet
      span.slider-bullet__text.js-slider-bullet__text 02
      span.slider-bullet__line.js-slider-bullet__line
    .slider-bullet.js-slider-bullet
      span.slider-bullet__text.js-slider-bullet__text 03
      span.slider-bullet__line.js-slider-bullet__line
  .scroll.js-scroll Scroll
.vert-text
  span
    | clcmo
    br
    | X LCAL